.DS_Store
.idea
.node
.sass-cache
*.log
_SpecRunner.html
coverage
grunt
grunt-jasmine-runner
log
node_modules/coffeelint
node_modules/grunt
node_modules/grunt-jasmine-runner
node_modules/nock
public/assets
tmp
