<ul id="contacts-list" data-role="listview" data-autodividers="true">
    <% contacts.each(function(contact) { %>
    <li class="contact" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right">
        <h3 class="name"><%= contact.name() %></h3>
        <p class="type"><%= contact.get("Type") %></p>
        <p class="ui-li-aside balance"><%= balanceDescription(contact) %></p>
    </li>
    <% }); %>
</ul>
