<fieldset data-role="controlgroup" data-theme="b">
    <label for="customer_file_username" class="ui-hidden-accessible">Username</label><input data-theme="b" id="customer_file_username" type="text" name="username" placeholder="Username"/>
    <label for="customer_file_password" class="ui-hidden-accessible">Password</label><input id="customer_file_password" type="password" name="password" placeholder="Password"/>
</fieldset>
<div class="myob-button">
    <input type="button" data-theme="a" id="customer_file_login_submit" value="Login"/>
</div>
