<div id="customer-files-list" data-role="collapsible-set" data-theme="d">
    <% customerFiles.each(function(customerFile) { %>
        <div class="customer-file" data-role="collapsible" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
            <h3>
                <div class="customer-file-name"><%= customerFile.get('Name') %></div>
            </h3>
        </div>
    <% }); %>
</div>
<div id="no-customer-files-message">No customer files are available to access at this time</div>
<div id="general_error_message" data-role="popup" data-overlay-theme="b">
    <p>An unexpected error has occurred</p>
</div>
