<div data-role="header">
    <a id="live-logout" href="#live_login" data-role="button" data-inline="true" data-theme="b">Logout</a>
    <h1>Login To File</h1>
</div>
<p>Select the file you would like to view contacts and outstanding amounts</p>
<div id="customer-files-content" data-role="content">
</div>
<div id="customer-file-login-content">
</div>
