<%= header %>
<div id="live-login-content" data-role="content">
    <fieldset data-role="controlgroup" data-theme="b">
        <label for="live_email_address" class="ui-hidden-accessible">Email Address</label><input data-theme="b" id="live_email_address" type="text" name="email_address" placeholder="Email Address"/>
        <label for="live_password" class="ui-hidden-accessible">Password</label><input id="live_password" type="password" name="password" placeholder="Password"/>
    </fieldset>
    <div class="myob-button">
        <input type="button" data-theme="a" id="live-login-submit" value="Log in"/>
    </div>
    <div id="live-login-general-error-message" data-role="popup" data-overlay-theme="a">
        <p>An unexpected error has occurred</p>
    </div>
    <div id="live-login-fail-message" data-role="popup" data-overlay-theme="a">
        <p>The username or password you entered is incorrect</p>
    </div>
    <div id="live-login-error-message" data-role="popup" data-overlay-theme="a">
        <p>We can't confirm your details at the moment, try again shortly</p>
    </div>
</div>
