<div id="login" data-role="page" data-title="Login">
    <div data-role="header"><h1>Login</h1></div>
    <div data-role="content">
        <fieldset data-role="controlgroup">
            <label for="username" class="ui-hidden-accessible">Username</label><input id="username" type="text" name="username" placeholder="Username"/>
            <label for="password" class="ui-hidden-accessible">Password</label><input id="password" type="password" name="password" placeholder="Password"/>
            <a href="#" data-role="button">Login</a>
        </fieldset>
    </div>
    <div data-role="footer"><h1>Footer</h1></div>
</div>
