/* MYOB Styles */
.myob-homepage-header
  font-size: 20px
  font-weight: bold
  text-align: center
  text-shadow: 0 1px 0 #7D7373
  padding: 0 0.6em
  background:
    image: image_url('logo_myob.png')
    repeat: no-repeat
    position: 15px 50%

.myob-hidden
  visibility: hidden

.myob-wrap
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.myob-buffer
  margin: 5% 5%

.myob-message
  height: 5em
  width: 14em
  margin: 5%
  padding: 5%
  background-color: lightblue
  border-width: 1px
  font-weight: bold

#customer-files-content
  padding: 0

.customer-file-name
  @extend .myob-wrap

.contact
  height: auto
  padding-bottom: 0.5em

  *
    font-weight: 400
    overflow: hidden

  .name
    @extend .myob-wrap
    clear: both
    margin: 0 0 0.3em 0
    padding: 0

  .small-print
    clear: both
    font-size: 12px

    *
      margin: 0
      padding: 0

    .type
      float: left

    .balance
      float: right

#contacts .contact
  cursor: pointer

#no-contacts-message
  margin-top: 1em

#contact-details

  .ui-content
    padding: 0

  .ui-corner-all
    -webkit-border-radius: 0.5em
    border-radius: 0.5em

  .overview
    clear: both
    padding: 0.7em
    background-color: #3c4246
    box-shadow: 0 2px 1px #000000 inset
    color: #ffffff

    *
      font-weight: 200

  .detail
    clear: both
    padding: 0 0.5em 1.2em 0.5em
    background-color: #d7d9db
    box-shadow: 0 2px 1px #3c4246 inset

    ul
      margin: 0
      padding: 1.2em 0 0 0
      box-shadow: none

      li
        padding-left: 4em
        font-weight: 100
        background:
          repeat: no-repeat
          position: 1.2em 50%

      .phoneNumber
        background-image: image_url('icon_phone.png')

      .emailAddress
        background-image: image_url('icon_email.png')
        @extend .myob-wrap

      .address
        background-image: image_url('icon_address.png')

/* JQueryMobile Overriddes */
.ui-mobile .ui-header, .ui-mobile .ui-footer
  border-width: 0

.ui-mobile .ui-header
  padding: 0.8em 10%

.ui-header .ui-title, .ui-footer .ui-title
  font-size: 18px
  font-weight: 100
  padding: 0
  margin: 0

.ui-header .ui-btn-left, .ui-footer .ui-btn-left
  left: 0.4em
  top: 0.45em

.ui-collapsible-content
  background-color: #C1C1C1

.ui-collapsible-inset .ui-collapsible-heading .ui-btn
  border-right-width: 0
  border-left-width: 0

.ui-li-divider
  font-weight: normal
  padding: 0.25em 15px

/* Responsive Styles */
@media handheld, only screen and (min-width: 480px)

  .myob-button
    width: 406px
    margin: 0 auto

  .myob-buffer
    margin: 8% 20%