/* MYOB Styles */
h1, h2, h3 {
    font-weight: 100;
}

.myob-hidden {
    visibility: hidden;
}

.myob-buffer {
    margin: 5% 5%;
}

.myob-message {
    height: 5em;
    width: 14em;
    margin: 5%;
    padding: 5%;
    background-color: lightblue;
    border-width: 1px;
    font-weight: bold;
}

.customer-file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-collapsible-content {
    background-color: #C1C1C1;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
    border-right-width: 0;
    border-left-width: 0;
}

/* Responsive Styles */
@media handheld, only screen and (min-width: 480px) {
    .myob-button {
        width: 406px;
        margin: 0 auto;
    }

    .myob-buffer {
        margin: 8% 20%;
    }
}
