body {
	font-weight: normal;
}

/*	Responsive Styles	*/

@media handheld, only screen and (max-width: 1024px) {
}

@media handheld, only screen and (min-width: 480px) {
	.myob-button {
		width: 450px;
		margin: 0 auto;
	}
}
@media handheld, only screen and (max-width: 400px) {
}